.article-prev {
  box-sizing: border-box;
  width: 32%;
  margin-right: 2%;
  padding: 25px 40px 30px 18px;
  border: 1px solid #ddd;
  background-color: @bg-main;
  &:last-of-type {
    margin-right: 0;
  }
}
