.btn {
  cursor: pointer;
  display: block;
  padding: 10px 13px 11px 13px;
  border: 1px solid #ddd;
  background: none;
  background-color: @bg-main;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: @font-color-btn;
}
