.events__block {
  position: relative;
  padding-top: 35px;
  padding-bottom: 30px;
  background: url("../../img/events-bg.jpg") no-repeat center center;
  background-size: auto;
  &::after {
    content: url("../../img/events-bg2.png");
    position: absolute;
    top: -80px;
    right: 200px;
    width: 540px;
  }
}
.events__list {
  list-style: none;
  padding: 20px 0 20px 20px;

  .container();
  border-left: 2px solid #fff;
}
.events__item {
  position: relative;
  margin-bottom: 70px;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -27px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }
}
.events__link {
  text-decoration: none;
  color: @font-color-light;
}
.events__when {
  display: block;
  margin-bottom: 25px;
}
.events__title {
  margin: 0 0 25px 0;
  font-family: @font-montserrat-bold;
  font-size: 48px;
  line-height: 48px;
}
.event__location {
  line-height: 24px;
}
