.intro {
  padding-bottom: 115px;
  background: url("../../img/intro-bg.jpg") no-repeat top left;
  background-size: cover;
}

@media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
  .intro {
    background: url("../../img/intro-bg@2x.jpg") no-repeat top left;
    background-size: cover;
  }
}

.intro__title {
  box-sizing: border-box;
  .container();
  padding-right: 25vw;
  text-shadow: 2px 11px 5px rgba(0, 0, 0, 0.33);
  font-family: @font-lora-bold;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  letter-spacing: 3.6px;
  color: @font-color-light;
}

@media (max-width: 1110px) {
  .intro__title {
    padding-right: 26vw;
    font-size: 6vw;
    line-height: 8vw;
  }
}

@media (max-width: 800px) {
  .intro {
    background-position: center center;
  }

  @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
    .intro {
      background-position: center center;
    }
  }
}

@media (max-width: 550px) {
  .intro {
    padding-bottom: 90px;
  }
}
