.main-menu__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  &_hidden {
    display: none;
  }
}
.main-menu__link {
  margin-left: 40px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: @font-color-light;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.4;
  }
}
.main-menu__toggle {
  display: none;
  z-index: 4;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  outline: none;
  width: 23px;
  height: 24px;
  padding: 0;
  border: none;
  background: none;
  background: url("../img/menu.svg") no-repeat 0 0;
  background-size: 100% 100%;
  &_close {
    background: url("../img/cross.svg") no-repeat 0 1px;
  }
  &_no-js {
    display: none;
  }
}

@media (max-width: 800px) {
  .main-menu__list {
    position: absolute;
    top: 20px;
    right: 20px;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30PX;
    background: rgba(97, 38, 41, 0.8);
  }
  .main-menu__link {
    margin-left: 0;
    line-height: 40px;
  }
  .main-menu__toggle {
    display: block;
  }
}
