.news__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .container();
  margin-bottom: 130px;
}

@media (max-width: 1300px) {
  .news__inner {
    margin-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .news__inner {
    margin-bottom: 90px;
  }
}

@media (max-width: 1100px) {
  .news__inner {
    margin-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .news__inner {
    margin-bottom: 70px;
  }
}

@media (max-width: 900px) {
  .news__inner {
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .news__inner {
    margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .news__inner {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .news__inner {
    margin-bottom: 0;
  }
}
