.player {
  background-color: #b50b1e;
}
.player__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container();
}
.player__btn {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #b50b1e;
  &_play {
    width: 58px;
    height: 58px;
  }
}
